:root {
    --background-color: black;
    --primary-color: #5E35B1;
    --primaryfade-color: rgba(94, 53, 177, 0.5);
    --secondary-color: #424242;
    --text-color: #FFFFFF;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  