.voicechatButton {
    background-color: #555;
    color: var(--text-color);
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 18px 0 0 !important;
    font-family: var(--font-family);
  }
  .voicechatButton:hover {
    background-color: #333;
    cursor: pointer;
  }
  